name: Generate Pacman Graph

on:
  schedule:
    # Se ejecuta cada 24 horas
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: generate-pacman-graph
        uses: maurodesouza/profile-readme-automation@v1
        with:
          github_user_name: ${{ github.repository_owner }}
          
      - name: push-pacman-graph
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
